<div id="first-line">
      <div id="top-line" class="container">


      </div>
  </div>
<header>

  <div id="top" class="clearfix">

      <div id="logo">
          <a href="/"><img alt="" src="/images/logo.png" width=250></a>
      </div>
      <aside> 
          <ul>
              <li><a href="#"><img alt="" src="/images/fb.png"></a></li>
              <li><a href="#"><img alt="" src="/images/twi.png"></a></li>
              <% if admin_signed_in? %>
            <li><%= link_to image_tag("/images/Blog-head-arrow.png"), destroy_admin_session_path, method: :delete %></a></li>
              <% end %>
        </ul>
      </aside>
  </div>

  <div id="menu" class="clearfix">
      <nav class="navigation">
          <ul class="sf-menu">
              <li class="<%= @current_menu == :index ? 'active' : '' %>"><%= link_to "Início", root_path %></li>
              <li class="<%= @current_menu == :about ? 'active' : '' %>"><%= link_to "Institucional", about_path %></li>
            <li class="<%= @current_menu == :companies ? 'active' : '' %>"><%= link_to "Representações", companies_path %></li>
              <li class="<%= @current_menu == :blog ? 'active' : '' %>"><a href="##">Blog</a></li>
              <li class="<%= @current_menu == :contact ? 'active' : '' %>"><%= link_to "Contato", contact_path %></li>
            <% if admin_signed_in? %>
            <li class="<%= @current_menu == :companies_list ? 'active' : '' %>"><%= link_to "Representadas", list_companies_path %></li>
            <% end %>
          </ul>
      </nav>
  </div>
</header>